<form action="" class="col-lg-3 p-3">
    <h5><i class="fa-solid fa-filter" style="color: #1a1a1a;"></i>Filtres</h5>

    <fieldset>
        <legend>Marque</legend>
        <select name="brand" id="brand">
            <option value="allBrand">Toutes les marques</option>
            {% for car in cars %}
                <option value="{{car.brand ~ car.id }}">{{ car.brand }}</option>
            {% endfor %}
        </select>
    </fieldset>

    <fieldset>
        <legend>Boîte de vitesse</legend>
        <div>
            <input type="radio" id="allGear" class="gear" value="all"
                    checked>
            <label for="allGear">Toutes les boîtes</label>
        </div>
        <div>
            <input type="radio" id="manual" class="gear" value="manual">
            <label for="manual">Manuelle</label>
        </div>
        <div>
            <input type="radio" id="auto" class="gear" value="auto">
            <label for="auto">Automatique</label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Carburant</legend>
            <div>
                <input type="radio" id="allFuel" class="fuel" value="all"
                        checked>
                <label for="allFuel">Tous les carburants</label>
            </div>
            {% for fuel in fuels %}
            <div>
                <input type="radio" id="{{ fuel.id }}" class="fuel" value="{{ fuel.id }}">
                <label for="{{ fuel.id }}">{{ fuel.name }}</label>
            </div>
            {% endfor %}
    </fieldset>

    <fieldset>
        <legend>Equipements</legend>

        <div>
          <input type="checkbox" id="GPS" class="equipments">
          <label for="GPS">GPS</label>
        </div>
    
        <div>
          <input type="checkbox" id="clim" class="equipments">
          <label for="clim">Climatisation</label>
        </div>

        <div>
          <input type="checkbox" id="bluetooth" class="equipments">
          <label for="bluetooth">Bluetooth</label>
        </div>

        <div>
          <input type="checkbox" id="reversing-radar" class="equipments">
          <label for="reversing-radar">Radar de recul</label>
        </div>

        <div>
          <input type="checkbox" id="reversing-camera" class="equipments">
          <label for="reversing-camera">Camera de recul</label>
        </div>

        <div>
          <input type="checkbox" id="speed-regulator" class="equipments">
          <label for="speed-regulator">Régulateur de vitesse</label>
        </div>

        <div>
          <input type="checkbox" id="sunroof" class="equipments">
          <label for="sunroof">Toit ouvrant/panoramique</label>
        </div>
    </fieldset>

    <fieldset>
        <legend>Prix</legend>
        <label for="minPrice">Prix min.</label>
        <input type="number" class="price" id="minPrice">
        <label for="maxPrice">Prix max.</label>
        <input type="number" class="price" id="maxPrice">
    </fieldset>

</form>