{% extends 'base.html.twig' %}

{% block title %}Vincent Parrot Garage - Les prestations{% endblock %}

{% block body %}

    {% block main %}
        <main class="container">

            <section class="row mt-5">
                <div class="col-lg-5 p-4">                
                    <h4 class="text-primary">Parrot Garage vous propose l'entretien, la réparation et le dépannage pour tout véhicules, acheté chez nous ou pas.
                    </h4>
                    <p class="lead">Merci de nous contacter pour vos besoins d'entretien, de réparation et de dépannage de véhicules. Chez Parrot Garage, nous sommes heureux de pouvoir vous offrir 
                    ces services, que vous ayez acheté votre véhicule chez nous ou non. Notre objectif est d'assurer la satisfaction de tous nos clients en leur fournissant un service de 
                    qualité.</p>                
                </div>
                <img src="{{ asset('assets/pexels-artem-podrez-8986070.jpg') }}" alt="Garage" class="img-fluid p-4 col-lg-7">
            </section>

            <section>
                <div class="row mt-5 card border-primary text-lg-center align-items-center m-auto">
                    <p class="p-5">Que ce soit pour l'entretien régulier de votre véhicule, des réparations mécaniques ou des services de dépannage en cas de problème, notre 
                    équipe de professionnels qualifiés est prête à vous aider. Nous disposons des compétences et de l'expertise nécessaires pour travailler sur différents 
                    types de véhicules, quelle que soit leur marque ou leur modèle. Lorsque vous nous confiez votre véhicule, vous pouvez avoir l'assurance que nous utiliserons 
                    des pièces de rechange de qualité, et que notre personnel effectuera les réparations avec soin et précision. Nous nous efforçons de maintenir des normes 
                    élevées en matière de service à la clientèle et de satisfaction.
                    </p>
                </div>
                <div class="row mt-5 alert alert-info">
                    <h5>N'hésitez pas à nous contacter pour prendre rendez-vous ou pour obtenir plus d'informations sur nos services. Que vous soyez un client fidèle ou que vous recherchiez 
                    un nouveau garage de confiance, nous sommes là pour répondre à vos besoins d'entretien, de réparation et de dépannage automobile.</h5>
                </div>
            </section>
            

            <section class="row column-gap-4 mt-5 m-auto">  

                <h3 class="text-center text-decoration-underline lh-lg">
                    Découvrez nos prestations
                    {% if app.user %}
                    <a href="services/add">
                        <i class="fa-solid fa-circle-plus" style="color: #1f9bcf;"></i>
                    </a>
                    {% endif %}
                </h3>

                {% for service in services %}
                <div class="col-lg-3 col-md-5 card mb-3">
                    <h3 class="card-header">{{ service.title }}</h3>
                    <img src="{{ asset('uploads/' ~ service.image) }}" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
                        <rect width="100%" height="100%" fill="#868e96"></rect>
                    </img>
                    <div class="card-body">
                        <p class="card-text">{{ service.description }}</p>
                    </div>
                    <div class="card-body">
                        <a href="#" class="card-link">Demander un devis</a>
                        <a href={{"services/edit/"~ service.id}} class="card-link">
                            {% if app.user %}
                            <i class="fa-solid fa-pen-to-square" style="color: #f0ad4e;"></i>
                            {% endif %}
                        </a>
                    </div>
                </div>
                {% endfor %}


                </div>

            </section>

        </main>
    {% endblock %}


{% endblock %}
