{% extends 'base.html.twig' %}

{% block title %}Voitures d'occasion{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-12 mt-5">
                <h1 class="text-center">Nos voitures d'occasion</h1>
                <p class="card text-white bg-primary mb-3 p-4">Chez Parrot Garage, nous proposons la vente de voitures d'occasion avec garantie pour offrir à nos clients une 
                tranquillité d'esprit supplémentaire lors de l'achat de leur véhicule. Une garantie sur une voiture d'occasion est une promesse que nous faisons à nos clients 
                selon laquelle nous nous engageons à prendre en charge certaines réparations ou problèmes qui pourraient survenir après l'achat.</p>
        </div>
        
        <div class="d-flex justify-content-end">
            <a href="{{ path('car_add') }}" class="btn btn-sm btn-primary">Nouvelle annonce</a>
        </div>

        <div class=" d-flex justify-content-center">
        {% for car in cars %}
            <div class="card m-3" style="max-width:350px">
                <img src="{{ asset('uploads/' ~ car.picture) }}" class="card-img-top" alt="..." style="max-height: 250px">
                <div class="card-body">
                    <h5 class="card-title">{{ car.model }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Motorisation: {{ car.motor }}</li>
                    <li class="list-group-item">{{ car.year }} - {{ car.mileage }} km.</li>
                    <li class="list-group-item">{{ car.fuel.name }} - {{ car.gearbox }}</li>
                    <li class="list-group-item">{{ car.equipments }}</li>
                    <li class="list-group-item fs-4 text-info">{{ car.price }} euros.</li>
                </ul>
                <div class="card-body">
                    <a href="{{ path('car_show', {'id': car.id}) }}" class="card-link">Voir plus</a>
                    {% if app.user %}
                    <a href="{{ path('car_edit', {'id': car.id}) }}" class="card-link">Modifier</a>
                    <a href="{{ path('car_delete', {'id': car.id}) }}" class="card-link text-danger">Supprimer</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
            </div>
    </div>


{% endblock %}
